.card {
  display: flex;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 2rem;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  width: 70%;
  justify-content: space-between;
}

.cardBtn {
  display: flex;
  gap: 1rem;
  transition: 0.3s;
}

.card button {
  background: none;
  padding: 0.4rem;
  width: 7rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card button:hover {
  scale: 1.03;
}
