.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.content h1 {
  font-size: 5rem;
  transition: 0.3s;
}

.points {
  font-size: 5rem;
}

.statusWrapper {
  width: 4rem;
}

.statusWrapper img {
  width: 100%;
}

.content button {
  padding: 0.7rem;
  cursor: pointer;
}

@media only screen and (max-width: 769px) {
  .content h1 {
    font-size: 3rem;
  }

  .points {
    font-size: 3rem;
  }
}
