.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  margin: auto;
  margin-top: 5rem;
}

.wrapper input {
  padding: 0.6rem;
  border-radius: 0.2rem;
  border: none;
  background: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.wrapper button {
  padding: 0.6rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
  background: none;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button:hover {
  scale: 1.03;
}
